/* Reset default margin and padding */
* {
    margin: 0;
    box-sizing: border-box;
}

/* Global styles */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/*리스트안보이게*/
.ul {
    list-style: none;
}

.default-button {
    padding: 6px 13px;
    font-weight: bold;
    color: #fff;
    border: 0;
    border-radius: 3px;
    background-color: #84A947;
    cursor: pointer;
}

/* Content style */
#content {
    display: flex;
    height: calc(100vh - 40px); /* Subtract header height from the viewport height */
    top: 20px;
}

/* Navigation styles */
nav {
    width: 15%;
    background-color: darkgrey;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#nav-workspaces {
    list-style: none;
    padding: 0;
}

#nav-workspaces li {
    margin-bottom: 5px;
}

#create-workspace {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    margin-top: 10px;
}

#create-workspace-form {
    display: none;
    margin-top: 10px;
}

#create-workspace-form label,
#create-workspace-form input,
#create-workspace-form button {
    margin-bottom: 5px;
}

.create-workspace-form-content {
    margin: 0;
    box-sizing: border-box;
    width: 200px;
    height: 135px;
    padding: 10px 10px;
    position: relative;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #ffffff;
    color: #44546f;
    font-size: 12px;
    cursor: pointer;
}

/* 우측 하단 */
.board-canvas {
    flex: 8.5;
    background-color: #7A3E3E;
    padding: 20px;
    overflow-y: auto;
}

#main-board-header {
    background-color: blue;
    /*padding: 20px;*/
    /*overflow-y: auto;*/
}

#main-board-content {
    background-color: white;
    /*padding: 20px;*/
    /*overflow-y: auto;*/
}

#logout {
    cursor: pointer;
    margin-left: 10px;
}

.board header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: lightgray;
}

.board h2 {
    font-size: 1.5rem;
}

.board h3 {
    font-size: 1rem;
    margin-top: 5px;
}

/*board style*/
.board-canvas {
    display: flex;
    flex: 1;
    width: 100%;
    /*padding: 0 5px;*/
    box-sizing: border-box;
}

.add-decklist-button {
    width: 100%;
    height: 40px;
    text-align: left;
    color: #ffffff;
    padding: 10px;
    border: 0;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 20%);
    box-sizing: border-box;
    cursor: pointer;
}

.add-decklist-form {
    width: 100%;
    padding: 5px;
    border-radius: 3px;
    background-color: #ebecf0;
    box-sizing: border-box;
}

.add-decklist-form .add-decklist-input {
    width: 100%;
    padding: 8px 10px;
    margin-bottom: 5px;
    border: 1px solid #C4DB37;
    box-shadow: inset 0 0 0 2px #C4DB37;
    border-radius: 3px;
    background-color: #fff;
    box-sizing: border-box;
}

.add-decklist-form button {
    margin-right: 5px;
}

.deck {
    font-size: 15px;
    font-weight: bold;
    height: fit-content;
}

.add-card-button {
    width: 100%;
    height: 35px;
    text-align: left;
    color: #44546f;
    padding: 0 10px;
    border: 0;
    border-radius: 3px;
    background-color: transparent;
    box-sizing: border-box;
    cursor: pointer;
}

#board {
    display: flex;
    width: 100%;
    box-sizing: border-box;
}

/*기존 덱*/
.deck-list-wrapper {
    display: flex;
    box-sizing: border-box;
}

.board-canvas .deck-list-content {
    flex: 1;
    width: 100%;
    max-width: 310px;
    min-width: 310px;
    padding: 10px 15px;
    border-radius: 10px;
    box-sizing: border-box;
}

.deck-list-header {
    /*width: 100%;*/
    display: flex;
    padding: 0 5px;
    /*padding: 14px 8px;*/
    box-sizing: border-box;
}

.deck-list-header .list-header-title {
    flex: 1;
    color: #44546f;
    padding: 14px 10px;
    font-size: 15px;
    font-weight: bold;
    box-sizing: border-box;
}

.list-header-archive {
    margin: 10px;
}

.deck-list-header {
    color: #44546f;
    position: relative;
    padding: 10px 5px;
    align-items: center;
}

.deck-list-add-card-container {
    display: flex;
}

.open-add-cardlist-button {
    border-radius: 8px;
    font-size: 14px;
    color: #44546f;
    display: block;
    flex: 1 0 auto;
    margin: 8px 0 8px 8px;
    padding: 4px 8px 4px 6px;
    position: relative;
    text-decoration: none;
}

.deck-list-ul {
    width: 100%;
    border-radius: 5px;
    background-color: #e0e1e4;
    box-sizing: border-box;
    /*list-style: none;*/
}

.deck-list-ul .li {
    width: 100%;
    box-sizing: border-box;
}

.edit-deck-title-form {
    display: flex;
    margin-left: 3px;
}

.edit-deck-title-input {
    padding: 10px;
    box-sizing: border-box;
}

/*카드 관련*/
.deck-list-add-card-area {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
}

.deck-list-add-card-name-text-area {
}

.add-card-name-text-area-form {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
}

.add-cardlist-input {
    width: 100%;
    height: 80px;
    padding: 10px;
    margin-bottom: 5px;
    font-size: 14px;
    border: 1px solid #C4DB37;
    box-sizing: border-box;
}

.list-header-btns {
    display: flex;
    flex-direction: column;
    padding: 0 5px;
    box-sizing: border-box;
}

.list-card-list {
    width: 100%;
    padding: 3px 10px;
    box-sizing: border-box;
    background-color: darkgrey;
    border-radius: 10px;
    min-height: 30px;
}

.list-card-list li {
    width: 100%;
    margin: 13px 0;
}

.card {
    width: 100%;
    padding: 7px 10px;
    border: 1px solid lightgray;
    border-radius: 8px;
    background-color: #fff;
    box-sizing: border-box;
    box-shadow: 0 1px 1px #091e4240, 0 0 1px #091e424f;
}

.card-title {
    width: auto;
    font-size: 16px;
    padding: 2px 2px 5px 5px;
}

/* 팝업 창 스타일링 */
.card-page-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* 어두운 배경 색상 */
    z-index: 9999; /* 다른 요소 위에 표시하기 위한 z-index 설정 */
}

.card-page {
    position: relative;
    top: 8%; /* 팝업 창의 위치 조절 */
    left: 22%; /* 팝업 창의 위치 조절 */
    width: 40%; /* 팝업 창의 너비 조절 */
    height: 80%; /* 팝업 창의 높이 조절 */
    min-width: 600px;
    min-height: 700px;
    max-width: 600px;
    max-height: 700px;
    background-color: #fff; /* 팝업 창 배경 색상 */
    z-index: 10000; /* 배경보다 위에 표시하기 위한 z-index 설정 */
    overflow: auto; /* 스크롤이 필요한 경우 스크롤 표시 */
    border: 1px solid #ccc;
    border-radius: 10px;
}

.card-page-title {
    /*padding: 12px 0 0;*/
    left: 60px;
    position: absolute;
    top: 20px;
}

.checkList-item-input button, .comment-input button {
    color: black;
    font-weight: 500;
    height: 30px;
    border: none;
    background-color: whitesmoke;
}

.comment-input {
    margin-bottom: 15px;
}

/* 우측 사이드 바 관련 */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #e0e1e4;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: darkgray;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #818181;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.nav-archive {
    padding-bottom: 20px;
}

/*우측 사이드바 보드 세팅*/
.nav-edit-board-content {
    display: none;
    margin-top: 10px;
}

.edit-board-content {
    margin: 0;
    box-sizing: border-box;
    width: 200px;
    height: 135px;
    padding: 10px 10px;
    position: relative;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #ffffff;
    color: #44546f;
    font-size: 12px;
    cursor: pointer;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

.open-btn {
    background-color: #7A3E3E;
    font-size: 30px;
    cursor: pointer
}

#archive-container {
    height: 20px;
    color: white;
    font-size: 18px;
    margin-left: 8px;
}

#archive-container li {
    display: flex;
    background-color: darkgrey;
    margin-top: 5px;
    padding: 5px;
}

.archive-item-title {
    color: black;
    margin-right: 25px;
}

/*카드 페이지*/
.card-detail-page {
    min-height: 700px;
    width: 600px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px 25px 10px 25px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    z-index: 99;
}

.card-detail-page-cancel-button {
    border-radius: 50%;
    color: #44546f;
    height: 32px;
    margin: 0;
    overflow: hidden;
    padding: 4px;
    position: absolute;
    right: 12px;
    top: 12px;
    width: 32px;
}

#close-card {
    border: none;
    background-color: transparent;
    color: #44546f;
    height: 32px;
    margin: 0;
    overflow: hidden;
    padding: 4px;
    position: absolute;
    right: 12px;
    top: 12px;
    width: 32px;
    z-index: 2;
}

/*.card-detail-header {*/
.card-header {
    min-height: 32px;
    /*padding: 8px 52px 8px 56px;*/
    padding: 20px 40px 45px 25px;
    position: relative;
    text-align: left;
    width: 100%;
    z-index: 1;
    font-size: 24px;
}

.card-detail-header-title {
    /*padding: 12px 0 0;*/
    left: 16px;
    position: absolute;
    top: 16px;
}

.card-detail-header-deck-title {
    margin: 4px 8px 4px 2px
}

/*.card-detail-header-title h2 {*/
/*    font-size: 20px;*/
/*}*/
.card-detail-header-deck-title p {
    font-size: 14px;
}

.card-detail-main {
    width: 100%;
    /*width: 500px;*/
    float: left;
    margin: 0;
    min-height: 24px;
    /*padding: 0 8px 8px 16px;*/
    padding: 0 5px 5px 15px;
    position: relative;
    display: flex;
}

.card-description {
    padding: 0px 5px 0px 25px;
}

.card-description-header {
    display: flex;
    min-height: 32px;
    padding: 0;
    position: relative;
    width: 100%;
    font-size: 24px;
}

.card-description-header i {
    position: relative;
    top: 5px;
}

.card-description-header h2 {
    left: 13px;
    position: relative;
}

.card-page-content {
    font-weight: 400;
    position: relative;
    left: 37px;
}

.card-comment {
    position: static;
    padding: 0 5px 15px 24px;
}

.card-comment-header {
    display: flex;
    font-size: 24px;
    margin-top: 25px;
}

.card-comment-header i {
    position: relative;
    top: 16px;
}

.card-comment-header h2 {
    position: relative;
    left: 13px;
}

.card-comment-input input {
    margin-top: 20px;
}

.card-comment-content {
    position: relative;
    left: 0px;
}

.comment-item {
    position: relative;
    display: flex;
    min-height: 32px;
    margin-top: 10px;
    padding: 0px;
    width: 100%;
}

.comment-item img {
    position: relative;
    width: 35px;
    height: 35px;
}

.comment-content {
    font-weight: 400;
    position: relative;
    width: 280px;
    max-width: 280px;
    margin-left: 10px;
}

.checkList-list {
    position:static;
    padding: 0 5px 20px 24px;
}

.card-checklist-header {
    position: relative;
    display: flex;
    min-height: 32px;
    padding: 0px;
    width: 100%;
    font-size: 20px;
}

.card-checklist-header i {
    position: relative;
    top: 5px;
}

.checkList-title {
    font-size: 22px;
    font-weight: bold;
    position: relative;
    left: 13px;
}

.cp-delete-button {
    position: relative;
    top: 5px;
    margin-left: 25px;
}

.cp-delete-button:hover {
    color: #DF0101;
}

.checkList {
    margin-top: 35px;
}

.checkList-item {
    position: relative;
    display: flex;
    min-height: 32px;
    padding: 0px;
    width: 100%;
    font-size: 15px;
}

.checkList-item input {
    position: relative;
}

.checkbox-title {
    font-weight: 400;
    position: relative;
    max-width: 600px;
    width: 600px;
    top: 5px;
    margin-left: 10px;
}

.checkList-item i {
    position: relative;
    top: 8px;
}

.card-sidebar {
    width: 30%; /* 원하는 너비 조정 */
    height: 100%; /* 높이 100%로 설정하여 card-page-wrapper와 같은 높이로 만듭니다. */
    background-color: #f0f0f0; /* 배경색 설정 (선택 사항) */
    position: absolute;
    right: 0; /* 우측으로 배치합니다. */
    top: 0; /* 위쪽 정렬 (선택 사항) */
    display: flex;
    flex-direction: column; /* 버튼을 세로로 나열하도록 설정 */
    align-items: center; /* 세로 중앙 정렬 */
    justify-content: center; /* 가로 중앙 정렬 */
}

.sidebar-button {
    margin: 10px 0; /* 버튼 사이의 간격을 조정합니다. */
    padding: 10px 20px; /* 버튼의 패딩을 조정합니다. */
    text-align: center;
    width: 80%; /* 버튼의 너비를 조정합니다. */
    background-color: #ddd; /* 버튼 배경색 설정 (선택 사항) */
    border: none;
    cursor: pointer;
}

/* hover 시 버튼 스타일 (선택 사항) */
.sidebar-button:hover {
    background-color: #ccc; /* hover 시 배경색 변경 (선택 사항) */
}

.drag-over {
    border: 4px dashed lightgray;
    background-color: darkgray;
    transition: border 0.15s, background-color 0.15s;
}

/*보드초대*/
.invite-collaborator {
    width: 430px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px 25px 10px 25px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    z-index: 99;

}

.invite-board-col-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 8px;
}
.invite-board-col-header h2 {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 5px 0 0 0;
}

.board-col-email {
    width:100%;
    display:grid;
    grid-template-columns:1fr min-content;
    text-align:center;
    padding: 0 6px 0 1px;
}
.board-col-list {
    margin-bottom: 10px;
    width: 100%;
    padding: 0 3px 0 0;
}
/*.close-button-invite-board-col {*/
.invite-board-col-header a {
    color: #44546f;
    position: relative;
    padding: 3px 1px;
    display: inline-block;
}

.board-col-input {
    /*display: flex;*/
    /*!*max-width: 100%;*!*/
    /*flex-grow: 1;*/
    /*margin-bottom: 8px;*/
    overflow: visible;
    /*background-color: var(--ds-surface, #ffffff);*/
    margin: auto;
}

.invite-board-col-input {
    width: 100%;
    padding: 8px 10px;
    margin-bottom: 5px;
    border: 1px solid #C4DB37;
    box-shadow: inset 0 0 0 2px #C4DB37;
    border-radius: 3px;
    background-color: #fff;
    box-sizing: border-box;
}

.invite-collaborator label,
.invite-collaborator input,
.invite-collaborator button {
    margin: 5px 0;
}
.invite-collaborator hr {
    margin : 10px 0 7px 0;
}
.invite-board-col-btn {
    font-size: 14px;
    padding:6px 13px;
    font-weight: bold;
    border:0;
    border-radius: 3px;
    background-color: #705c3b;
    color: white;
    cursor: pointer;
    white-space:nowrap;
    position: relative;
    left: 5px;
}

.invite-board-col-header .invite-board-col-btn:hover {
    background-color: #3e3131;
    color: white;
    box-shadow: 5px 5px #724123;
}
.invite-board-col-header i {
    font-size: 1rem;
    cursor: pointer;
}
hr {
    display: flex;
    background-color: #091e4224;
    border: 0;
    height: 1px;
    margin: 16px 0 10px 0;
    padding: 0;
    width: 100%;
}
.board-col-lists {
    width:100%;
    display:grid;
    grid-template-columns:1fr min-content;
}
.board-col-lists-email {
    position:relative;
    margin: 10px 0 0 3px;
    text-align: left;
}
.col-delete-btn {
    border:none;
    padding: 6px 10px;
    font-weight: bold;
    color: #fff;
    border: 0;
    border-radius: 3px;
    background-color: #9A9A9A;
    cursor: pointer;
    white-space: nowrap;
    left: 3px;
    position: relative;
}