/* Reset default margin and padding */
* {
    margin: 0;
    box-sizing: border-box;
}

/* Global styles */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
/*리스트안보이게*/
.ul {
    list-style: none;
}
/* Header styles */
#header {
    background-color: #4d3737; /* Wooden color */
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#title {
    font-size:20px;
    font-weight:100;
    color:#ffffff;
    font-family: 'Russo One', sans-serif;
}

.default-button{
    padding:6px 13px;
    font-weight: bold;
    color:#fff;
    border:0;
    border-radius: 3px;
    background-color: #84A947;
    cursor: pointer;
}

.user-info {
    display: flex;
    align-items: center;
    color: #705c3b; /* Dark brown text color */
}

.user-info i {
    margin-right: 5px;
}

/* Content style */
#content {
    display: flex;
    height: calc(100vh - 40px); /* Subtract header height from the viewport height */
    top: 20px;
}

/* Navigation styles */
nav {
    width: 15%;
    background-color: darkgrey;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#nav-workspaces {
    list-style: none;
    padding: 0;
}

#nav-workspaces li {
    margin-bottom: 5px;
}

#create-workspace {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    margin-top: 10px;
}

#create-workspace-form {
    display: none;
    margin-top: 10px;
}

#create-workspace-form label,
#create-workspace-form input,
#create-workspace-form button {
    margin-bottom: 5px;
}

/* 우측 하단 */
.board-canvas {
    flex: 8.5;
    background-color: #7A3E3E;
    padding: 20px;
    overflow-y: auto;
}
#main-board-header {
    background-color: blue;
    /*padding: 20px;*/
    /*overflow-y: auto;*/
}

#main-board-content {
    background-color: white;
    /*padding: 20px;*/
    /*overflow-y: auto;*/
}

#logout {
    cursor: pointer;
    margin-left: 10px;
}

.board header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: lightgray;
}

.board h2 {
    font-size: 1.5rem;
}

.board h3 {
    font-size: 1rem;
    margin-top: 5px;
}
/*board style*/
.board-canvas{
    display: flex;
    flex:1;
    width: 100%;
    padding: 0 5px;
    box-sizing: border-box;
}

.add-decklist-button{
    width: 100%;
    height: 40px;
    text-align: left;
    color:#ffffff;
    padding:10px;
    border:0;
    border-radius: 5px;
    background-color: rgba(0,0,0,20%);
    box-sizing: border-box;
    cursor: pointer;
}

.add-decklist-form{
    width: 100%;
    padding:5px;
    border-radius: 3px;
    background-color: #ebecf0;
    box-sizing: border-box;
}

.add-decklist-form .add-decklist-input{
    width: 100%;
    padding:8px 10px;
    margin-bottom:5px;
    border:1px solid #C4DB37;
    box-shadow: inset 0 0 0 2px #C4DB37 ;
    border-radius: 3px;
    background-color: #fff;
    box-sizing: border-box;
}

.add-decklist-form button {
    margin-right: 5px;
}

.deck{
    width: 100%;
    font-size: 15px;
    font-weight: bold;
    box-sizing: border-box;
    padding: 0 15px;
}

.add-card-button{
    width: 100%;
    height: 35px;
    text-align: left;
    color:#44546f;
    padding: 0 10px;
    border:0;
    border-radius: 3px;
    background-color: transparent;
    box-sizing: border-box;
    cursor: pointer;
}

#board {
    display: flex;
    width: 100%;
    box-sizing: border-box;
}

/*기존 덱*/
.deck-list-wrapper {
    display: flex;
    box-sizing: border-box;
}

.board-canvas .deck-list-content {
    /*display: flex;*/
    flex: 1;
    max-width: 310px;
    min-width: 310px;
    box-sizing: border-box;
    width: 100%;
    border-radius: 10px;
}

.deck-list-header {
    /*width: 100%;*/
    display: flex;
    padding: 0 5px;
    /*padding: 14px 8px;*/
    box-sizing: border-box;
}
.deck-list-header .list-header-title {
    flex:1;
    color: #44546f;
    padding: 14px 10px;
    font-size: 15px;
    font-weight: bold;
    box-sizing: border-box;
}

.list-header-archive {
    margin: 10px;
}

.deck-list-header {
    color: #44546f;
    position: relative;
    padding: 10px 5px;
    align-items: center;
}

.deck-list-add-card-container {
    display: flex;
}

.open-add-cardlist-button {
    border-radius: 8px;
    font-size: 14px;
    color: #44546f;
    display: block;
    flex: 1 0 auto;
    margin: 8px 0 8px 8px;
    padding: 4px 8px 4px 6px;
    position: relative;
    text-decoration: none;
}

.deck-list-ul {
    width: 100%;
    border-radius: 5px;
    background-color: #e0e1e4;
    box-sizing: border-box;
    /*list-style: none;*/
}
.deck-list-ul .li{
    width: 100%;
    box-sizing: border-box;
}

.edit-deck-title-form {
    display: flex;
    margin-left: 3px;
}

.edit-deck-title-input {
    padding: 10px;
    box-sizing: border-box;
}

/*카드 관련*/
.deck-list-add-card-area {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
}

.deck-list-add-card-name-text-area {
}

.add-card-name-text-area-form {
    width: 100%;
    padding:5px;
    box-sizing: border-box;
}

.add-cardlist-input {
    width: 100%;
    height: 80px;
    padding: 10px;
    margin-bottom: 5px;
    font-size:14px;
    border:1px solid #C4DB37;
    box-sizing: border-box;
}

.list-header-btns {
    display: flex;
    flex-direction: column;
    padding: 0 5px;
    box-sizing: border-box;
}
.list-card-list {
    width: 100%;
    padding: 3px 10px;
    box-sizing: border-box;
}
.list-card-list li {
    width: 100%;
    margin-bottom: 5px;
}
.card-list {
    width: 100%;
    padding: 7px 10px;
    border: 1px solid lightgray;
    border-radius: 8px;
    background-color: #fff;
    box-sizing: border-box;
    box-shadow: 0 1px 1px #091e4240,0 0 1px #091e424f;
}
.card-list-title {
    max-width: 100px;
    font-size: 16px;
    padding: 2px 2px 5px 5px;
}
/* 팝업 창 스타일링 */
.card-page-wrapper {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* 어두운 배경 색상 */
    z-index: 9999; /* 다른 요소 위에 표시하기 위한 z-index 설정 */
}

.card-page {
    position: fixed;
    top: 10%; /* 팝업 창의 위치 조절 */
    left: 20%; /* 팝업 창의 위치 조절 */
    width: 60%; /* 팝업 창의 너비 조절 */
    height: 80%; /* 팝업 창의 높이 조절 */
    background-color: #fff; /* 팝업 창 배경 색상 */
    z-index: 10000; /* 배경보다 위에 표시하기 위한 z-index 설정 */
    overflow: auto; /* 스크롤이 필요한 경우 스크롤 표시 */
}

/* 우측 사이드 바 관련 */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.open-btn {
    background-color: #7A3E3E;
    font-size: 30px;
    cursor: pointer
}

#archive-container {
    height: 20px;
    color: white;
    font-size: 18px;
    margin-left: 8px;
}

#archive-container li {
    display: flex;
    background-color: darkgrey;
    margin-top: 5px;
    padding: 5px;
}

.archive-item-title {
    color: black;
    margin-right: 25px;
}