<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" type="text/css" href="/css/board.css">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <script src="https://code.jquery.com/jquery-3.7.0.min.js"
            integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g="
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
            crossorigin="anonymous"></script>
    <!--  js를 jquery와 함께 호출 시 스크립트 실행 순서에 의해 jQuery를 먼저 선언해야 한다. -->

    <title>Twogether</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">
</head>
<body>
<header id="header">
    <div onclick="moveToWorkspace()">
    <h2 id='title'>Two Gether</h2></div>
    <div id="board-box">
        <h3 id="board-title">js 보드 제목</h3>
    </div>
    <span id="boardId" th:text="${id}" style="display:none"></span>
    <div class="user-info">
        <i class="fas fa-user-circle"></i>
        Email: <span id="email"></span>
        Nickname: <span id='nickname'></span>
        Role: <span id="role"></span>
        <span id='logout' onclick="logout()"><i class="fas fa-sign-out-alt"></i></span>
    </div>
</header>

<div id="content">
    <nav id="nav">
        <ul id="nav-workspaces">
<!--            <ul id="nav-workspaces">-->
        </ul>

        <div class="nav-create-workspace-btns">
            <button class="create-workspace-btns" id="create-workspace" onclick="toggleCreateWorkspace()"><i class="fas fa-plus"></i>
                워크스페이스 새로 만들기
            </button>
        </div>
        <div id="create-workspace-form" style="display:none">
            <div class="create-workspace-form-content">
                <div>
                    <label for="workspace-title">타이틀</label>
                    <input type="text" id="workspace-title"/>
                </div>
                <div>
                    <label for="workspace-description">정보</label>
                    <input type="text" id="workspace-description"/>
                </div>
                <div>
                    <button class="create-workspace-submit" id="create-workspace-btn" onclick="createWorkspace()">생성</button>
                </div>
            </div>
        </div>
    </nav>

    <div class="board-canvas">
        <!--페이지 스크롤바-->
        <div id="board" class="board-canvas-scrollbar">
            <ul id="deck-list" class="deck-list-wrapper"
                ondragover="allowDrop(event)" ondrop="drop(event)">
            </ul>

            <div class="deck-list-content">
                <ul class="deck-list-ul">
                    <li>
                        <div>
                          <span class="placeholder">
                            <button class="add-decklist-button" type="button"
                                    onclick="toggleCreateDeckForm()">
                                <i class="fa-solid fa-plus fa-xl"></i> 덱 추가
                            </button>
                          </span>

                            <div id="create-deck-form" class="add-decklist-form" hidden>
                                <label for="deck-title-input"></label>
                                <input id="deck-title-input" type="text"
                                       name="add-decklist-input"
                                       class="add-decklist-input" placeholder="덱 타이틀을 입력하세요...">
                                <div class="horizontal-align">
                                    <button type="submit"
                                            class="add-decklist-submit default-button"
                                            onclick="createDeck()">
                                        덱 추가
                                    </button>
                                    <a class="cancel-button decklist" href="#"
                                       aria-label="덱 추가 취소" onclick="toggleCreateDeckForm()">
                                        <i class="fa-solid fa-xmark fa-xl"></i>
                                    </a>
                                </div>
                            </div>

                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <!--        <a href="#">About</a>-->
        <!--        <a href="#">Services</a>-->
        <!--        <a href="#">Clients</a>-->
        <!--        <a href="#">Contact</a>-->
        <div class="nav-archive">
        <ul id="archive-container"></ul>
        </div>

        <div class="nav-board-setting">
            <ul id="board-container"></ul>
            <div class="nav-board-edit-btns">
                <a class="board-edit-btns" onclick="editBoardOnOff()">
                <span class="icon-edit-board">
                    <i class="fa-solid fa-gear"></i>
                </span>
                <span class="text-edit-board">
                    보드 수정
                </span>
                </a>
            </div>
            <div class="nav-edit-board-content" id="edit-board-form" style="display:none">
                <div class="edit-board-content">
                    <div>
                        <label for="board-title-edited">보드 이름</label>
                        <input type="text" id="board-title-edited"/>
                    </div>
                    <div>
                        <label for="board-color-edited">보드 색상</label>
                        <input type="text" id="board-color-edited"/>
                    </div>
                    <div>
                        <label for="board-info-edited">보드 정보</label>
                        <input type="text" id="board-info-edited"/>
                    </div>
                    <div>
                        <button class="edit-board-submit" id="edit-board-btn" onclick="editBoard()">수정</button>
                    </div>
                </div>
            </div>

            <div>
            <a class="invite-board-col" onclick="openInviteBoardCollab()">
                <span class="icon-invite-board-col">
                    <i class="fa-solid fa-gear"></i>
                </span>
                <span class="text-invite-board-col">
                    보드 협업자 초대
                </span>
            </a>
            </div>

            <div>
            <a class="board-delete" onclick="deleteBoard()">
                <span class="icon-board-delete">
                    <i class="fa-solid fa-trash"></i>
                </span>
                <span class="text-board-delete">
                    보드 삭제
                </span>
            </a>
            </div>
        </div>

        <div class="invite-board-col-bg">
            <div id="invite-board-collaborator" class="invite-collaborator" style="display:none">
                <div class="invite-board-col-header">
                    <h2>보드에 초대하세요.</h2>
                    <a class="close-button-invite-board-col" onclick="closeAllInviteCollaborators()">
                        <i class="fa-solid fa-xmark fa-xl"></i>
                    </a>
                </div>
                <div class="board-col-email">
                    <input type="text" id="board-collaborator-email"
                           class="invite-board-col-input"
                           placeholder="초대할 이메일을 입력하세요..."/>
                </div>
                <div>
                    <button class="invite-board-col-btn" onclick="inviteBoardCollaborator()">초대</button>
                    <div>
                        <ul id="invite-board-collaborator-list"></ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <span class="open-btn" onclick="openNav()">&#9776;</span>
</div>
<script src="/js/board.js"></script>
</body>
</html>