<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="stylesheet" type="text/css" href="/css/signup.css">
  <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

  <script src="https://code.jquery.com/jquery-3.7.0.min.js"
          integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g="
          crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
  <script src="/js/signup.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
          crossorigin="anonymous"></script>
  <!--  js를 jquery와 함께 호출 시 스크립트 실행 순서에 의해 jQuery를 먼저 선언해야 한다. -->

  <title>Twogether 회원가입</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">
</head>
<body>
<div class="logo">
  <h2>Two Gether</h2>
</div>
<div class="container">
  <div class="text-h3">
    <h3>회원가입</h3>
  </div>
  <div class="text-h4">
    <h4>Two Gether에 오신 것을 환영해요 !</h4>
  </div>
  <div id = "send__id">
    <input type="text" id="email" placeholder="user@email.com"/>
    <button class="sendButton" onclick="submitEmail()">전송</button>
  </div>
  <div id = "send__pw">
    <input type="text" id="certificationNumber" placeholder="123456"/>
    <button class="sendButton" onclick="submitCertificationNumber()">인증</button>
  </div>
  <div>
    <input type="password" id="password" placeholder="소문자/숫자/특수문자의 8자 이상"/>
  </div>
  <div>
    <input type="password" id="passwordConfirm" placeholder="위의 입력과 동일한 비밀번호"/>
  </div>
  <div class = "signupButton">
    <button id="signupButton" onclick="signup()">회원 가입</button>
  </div>
  <div class = "sendLoginPage">
    <a href="/views/login">Twogether가 처음이 아니라면?  로그인</a>
  </div>
  <!--
  <div class = "sendSocialLoginPage">
    <a href="/views/login">Twogether을 소셜 로그인으로 사용한다면? 소셜 로그인</a>
  </div>
  -->
</div>

</body>
</html>