<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" type="text/css" href="/css/workspace.css">
    <link rel="stylesheet" type="text/css" href="/css/header.css">
    <link rel="stylesheet" type="text/css" href="/css/panel.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <script src="https://code.jquery.com/jquery-3.7.0.min.js"
            integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g="
            crossorigin="anonymous"></script>
    <script src="/js/workspace.js"></script>
    <script src="/js/profile.js"></script>
    <script src="/js/alarm.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
            crossorigin="anonymous"></script>
    <!--  js를 jquery와 함께 호출 시 스크립트 실행 순서에 의해 jQuery를 먼저 선언해야 한다. -->

    <title>Twogether</title>
</head>
<body>
<header id="header">
    <div onclick="moveToWorkspace()">
        <h2 id='header-title'>Two Gether</h2>
    </div>
    <div id="header-profileImage-container"><img id="header-profileImage"></div>
    <div id="alarm-badge"></div>
    <div id="alarm-button">
        <i class="fas fa-bell"></i>
    </div>
    <i id="logout" class="fas fa-sign-out-alt" onclick="logout()"></i>
</header>

<!--알림-->
<div id="alarm-panel" style="display: none">
    <!--        <button id="enable">알림 허용</button>-->
    <div id="alarm-list-container">
        <div id="alarm-default-msg" style="text-align: center">도착한 알림이 없습니다.</div>
        <ul id="alarm-list">
            <!-- 알림 목록 추가되는 영역 -->
        </ul>
    </div>
</div>

<div id="content">
    <div id="userProfile-panel" class="hide">
        <!--프로필 이미지-->
        <img id="panel-profileImage" class="close-userProfile-panel">

        <!--프로필 정보-->
        <div id="userInfo">
            <span>Email:</span>
            <div id="email" class="user-info-item"></div>
            <br><br>

            <span>Nickname:</span>
            <div id='nickname' class="user-info-item"></div>
            <input id="edit-nick-input" class="hide" type="text"/>
            <br><br>

            <span>Introduction:</span>
            <div id='introduction' class="user-info-item"></div>
            <textarea id="edit-intro-input" class="hide"></textarea>

            <!--            <span>Role:</span>-->
            <!--            <div id="role" class="user-info-item"></div>-->
        </div>

        <div id="profileImage-btns" class="hide">
            <button id="save-edit-profileImage-btn" onclick="editProfileImage()">Save
            </button>
            <button id="cancel-profileImage-btn">Cancel</button>
            <button id="default-profileImage-btn" onclick="defaultProfileImage()"
                    style="width: 78%;">Default
            </button>
            <div id="upload-profileImage-input-container">
                <input type="file" id="upload-profileImage-input" accept="image/*">
            </div>
        </div>

        <div id="profileInfo-btns">
            <button id="save-edit-userInfo-btn" onclick="editUserInfo()" class="hide"
                    style="margin-left: 0">Save
            </button>
            <button id="cancel-userInfo-btn" onclick="closeEditUserInfoForm()" class="hide">Cancel
            </button>
        </div>
        <br>

        <button id="change-userInfo-btn">Edit Info</button>
        <br>
        <button id="change-userImage-btn">Edit Image</button>
        <br>
    </div>

    <nav id="nav">
        <div class="nav-workspace-lists" style="display:none;">
            <h3>My Workspaces</h3>
            <div class="nav-wp-lists">
                <ul id="nav-workspaces"></ul>
            </div>
            <hr>
            <div>
                <h3>Collab Workspaces</h3>
                <div class="nav-col-wp-lists">
                    <ul id="nav-col-workspaces"></ul>
                </div>
            </div>
        </div>

        <div class="nav-create-workspace-btns">
            <button class="create-workspace-btns" id="create-workspace"
                    onclick="createWorkspaceOnOff()"><i class="fas fa-plus"></i>
                워크스페이스 새로 만들기
            </button>
        </div>
        <div id="create-workspace-form" style="display:none">
            <div class="create-workspace-form-content">
                <div>
                    <label for="workspace-title">타이틀</label>
                    <input type="text" id="workspace-title"/>
                </div>
                <div>
                    <label for="workspace-description">정보</label>
                    <input type="text" id="workspace-description"/>
                </div>
                <div>
                    <button class="create-workspace-submit" id="create-workspace-btn"
                            onclick="createWorkspace()">생성
                    </button>
                </div>
            </div>
        </div>
    </nav>

    <div id="main">
        <h1>My Workspaces</h1>
        <section id="my-workspaces">
        </section>

        <h1>Collaborated Workspaces</h1>
        <section id="col-workspaces">
        </section>
    </div>
</div>
</body>
</html>