<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="stylesheet" type="text/css" href="/css/workspace.css">
  <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

  <script src="https://code.jquery.com/jquery-3.7.0.min.js"
          integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g="
          crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
  <script src="/js/workspace.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
          crossorigin="anonymous"></script>
  <!--  js를 jquery와 함께 호출 시 스크립트 실행 순서에 의해 jQuery를 먼저 선언해야 한다. -->

  <title>Twogether</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">
</head>
<body>
<header id="header">
  <div onclick="moveToWorkspace()">
    <h2 id='title'>Two Gether</h2></div>
  <div class="user-info">
    <i class="fas fa-user-circle"></i>
    Email: <span id="email"></span>
    Nickname: <span id='nickname'></span>
    Role: <span id="role"></span>
    <span id='logout' onclick="logout()"><i class="fas fa-sign-out-alt"></i></span>
  </div>
</header>

<div id="content">
  <nav id="nav">
    <div class="nav-workspace-lists">
      <h3>My Workspaces</h3>
      <div class="nav-wp-lists">
      <ul id="nav-workspaces"></ul>
      </div>
      <hr>
      <div style="display:none">
      <h3>Collab Workspaces</h3>
      <div class="nav-col-wp-lists">
      <ul id="nav-col-workspaces"></ul>
      </div>
      </div>
    </div>

    <div class="nav-create-workspace-btns">
    <button class="create-workspace-btns" id="create-workspace" onclick="createWorkspaceOnOff()"><i class="fas fa-plus"></i>
      워크스페이스 새로 만들기
    </button>
    </div>
    <div id="create-workspace-form" style="display:none">
      <div class="create-workspace-form-content">
        <div>
        <label for="workspace-title">타이틀</label>
        <input type="text" id="workspace-title"/>
        </div>
        <div>
        <label for="workspace-description">정보</label>
        <input type="text" id="workspace-description"/>
        </div>
        <div>
      <button class="create-workspace-submit" id="create-workspace-btn" onclick="createWorkspace()">생성</button>
        </div>
      </div>
    </div>
  </nav>

  <div id="main">
    <h1>My Workspaces</h1>
    <section id="my-workspaces">
    </section>

    <h1>Collab Workspaces</h1>
    <section id="col-workspaces">
    </section>
  </div>
</div>

</body>
</html>